<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HBR_Library_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <HBR_Library_System.My.MySettings>
            <setting name="sqlhost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="sqluser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="sqlpwd" serializeAs="String">
                <value />
            </setting>
            <setting name="sqldb" serializeAs="String">
                <value>library</value>
            </setting>
            <setting name="sqlport" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="sqlcharset" serializeAs="String">
                <value>utf8</value>
            </setting>
            <setting name="sqlssl" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="xpath" serializeAs="String">
                <value>//*[@id="search_results"]/table</value>
            </setting>
            <setting name="api_url" serializeAs="String">
                <value>https://hbacker.dev/api/</value>
            </setting>
            <setting name="code" serializeAs="String">
                <value>878217809048</value>
            </setting>
            <setting name="dialog" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="session" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="devpass" serializeAs="String">
                <value>17809048</value>
            </setting>
            <setting name="dialog_help" serializeAs="String">
                <value />
            </setting>
        </HBR_Library_System.My.MySettings>
    </userSettings>
</configuration>